header {
    display:flex;
    flex-direction: column;
    align-items: center;
}
body {
    background: #A8ACB2;
    font-family: 'Noto Sans', sans-serif;

}
img {
    max-height: 150px;
    max-width: 100px;
    margin: 10px;
    z-index: 9 ;
}
nav {
    display: flex;
    flex: 8;
    align-content: center;
    justify-content: space-around;
    width:100vw;
    font-size: 2em;
    color: #A89344;
    text-shadow: 1px 1px black;
    position: fixed;
    /* top: 60px; */
    background: #A8ACB2;
}

nav h3 {
    cursor: pointer;

    margin: 10px;
}

main{ 
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #122A45;
    padding: 20px;
    min-height: 80vh;
    margin:0px 20px;
    border-radius: 5px;
    z-index: 0;

}

article {
    width: 70vw;
    height: 20vh;
    background: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px 
}
.amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    max-width: 70%;
}
.name {
    font-size: 3em
    
}
.phone {
    font-size: 1.5em;
}
.amountNumber {
    font-size: 5em;
}
.amount label {
    font-size: 3em
}
.amount div {
    display: flex
}
.goalsForm {
    display: flex;
    justify-content: flex-start;
}

.goalsForm input{
    width: 10vw;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #424249;
    font-size: 1em
}
svg {
    cursor: pointer;
}
.title {
    font-size: 9em;
    margin:10vh auto;
    color: #ccc;
}